<a href="https://colab.research.google.com/github/Rithikareddy-02/NNDL/blob/main/NNDL_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import Libraries

In [ ]:
import numpy as np
import math as mt
import random
import pandas as pd

Load Data

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/DATA_AI/NNDL_Data/NNDL_Assignment_Data.csv')
data.head()

      X     Y
0  1000  1050
1  1125  1150
2  1087  1213
3  1070  1275
4  1100  1300

Min and Max Values

In [ ]:
x_min = data['X'].min()
x_max = data['X'].max()

y_min = data['Y'].min()
y_max = data['Y'].max()
x_min

700

Missing Values Treatment

In [ ]:
print(data.isnull().sum())

X    0
Y    0
dtype: int64

Normalisation

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])

data.head()

          X         Y
0  0.444444  0.000000
1  0.629630  0.128205
2  0.573333  0.208974
3  0.548148  0.288462
4  0.592593  0.320513

Data Split

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.20, random_state = 10)

Initialisation

In [ ]:
m=random.uniform(-5,5)
c=random.uniform(-5,5)
eta=0.01
epochs=1000
c_vel = 0.5
v_m = 0
v_c = 0

Train the Model

In [ ]:
for iter in range(epochs):
  for sample in range(x_train.shape[0]):
    
    m_deriv = -1 * (y_train.iloc[sample] - (m + c_vel*v_m) * x_train.iloc[sample] - c - c_vel*v_m) * x_train.iloc[sample]
    c_deriv = -1 * (y_train.iloc[sample] - (m + c_vel*v_m) * x_train.iloc[sample] - c - c_vel*v_m)

    v_m = (c_vel * v_m) - eta * m_deriv
    v_c = (c_vel * v_c) - eta * c_deriv

    m = m + v_m
    c = c + v_c
print('model parameter m and c',m,c)

model parameter m and c 0.4071139884734838 0.04261163351992321

Model prediction

In [ ]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [ ]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

Error Metrics Calculation

In [ ]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.1411558541589269
Mean square error 0.019924975163336238
Mean absolute error 0.0916530751025102

In [ ]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.1324540373099976
Mean square error 0.017544071999718237
Mean absolute error 0.09996246858278701

Deployment

In [ ]:
X=int(input('enter X value'))
print('X=',X)

x_nor = (X - x_min)/(x_max - x_min)
y_nor = m*float(x_nor) + c

Y = y_nor*(y_max - y_min) + y_min
print('Y=',Y)

enter X value500
X= 500
Y= 989.1485079205572